body {
    /* background-image: url ('/static/images/rivals_1.jpg'); */
    color: dodgerblue;
    font-weight: bold;
    /* background-color: #c15c53; */
    /* background: url (https://images-na.ssl-images-amazon.com/images/I/71Svj-fdqBL._SX425_.jpg); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    background-attachment: fixed;

    background-repeat; no-repeat;
    background-color: black;
}

.nav {
    position: fixed;
    width: 100%;
    background-color: #f4d142;
    overlay: fixed;
}

.nav #currently_playing_song {
    color: red;
    text-align: center;
    float: left;
    padding-left: 15px;
}

.nav #pause,#next,#resume{
    float: right;
    display: block;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}

.nav #pause,#resume {
    background-color: white;
    color: red;
}


.nav #next {
    background-color: crimson;
    color: black;
}


.all_songs {
    margin: 10px;
    display: inline-block;
    color: #0ec94f;
    background-color: #293029;
    padding: 10px;
    margin: 10px;
    /* border: 2px dotted dodgerblue; */
    /* border: 2px dotted #7f07ff; --> */
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    font-family: "Cantarell";
    opacity: 0.89;
}

.all_songs:hover {
    background-color: dodgerblue;
    color: black;
    font-weight: bold;
    border: 0px;
}
