body {
    background-color: black;
}

.button {
    background-color: transparent;
    border: 1px dashed #00ff4c;
    margin: 15px;
    color: dodgerblue;
    font-size: 14px;
    font-family: 'Hack Nerd Font';
    /* padding: 25px; */
    padding: 15px;
    border-radius: 5%;
    transition-duration: 0.5s;
}

.button:hover {
    cursor: pointer;
    background-color: dodgerblue;
    color: black;
    border: 1px solid black;
    font-weight: bold;
}

form {
    float: left;
}
